*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main{
    margin: auto;

    height: 1000px;
    width: 938px;
}
.container{
    display: inline-block;
    position: relative;
    margin:5px;
    
}


img{
    height: 450px;
    width: 300px;
}

.discount{
    position: absolute;
    bottom: 3%;
    left:0;
    background-color:red;
    color: white;
    /* font-size: 0.7rem; */
    padding:5px;
}
